<div class="col-sm-12">
  <div class="page-header">
    <h1>
      <%= "#{@project.name}: Manage Members" %>
    </h1>
  </div>
  <ol class = "breadcrumb">
    <li> <%= link_to "Projects", projects_path %></li>
    <li><%= link_to @project.name, project_path(@project) %> </li>
    <li>Memberships</li>
  </ol>

  <% if @membership.errors.any? %>
    <div class = "form-group">
      <div class ="col-sm-6">
        <div class = "alert alert-danger">

            <h3><%= pluralize(@membership.errors.count, "error")%>  prohibited this from being saved : </h3>
              <ul>
                <% @membership.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>

        </div>
      </div>
    </div>
  <% end %>
  <div class="col-md-8">

    <div class="well">
    <%= render "form" %>
    </div>
    <table class="table">
      <thead>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </thead>

          <% @project.memberships.each do |m| %>
            <% if m.user.present? && m.id.present? %>
              <%= form_for [@project, m], html: {class: 'form-inline'} do |f| %>
              <tr>
                  <td><%= link_to m.user.full_name, user_path(m.user), class: "pull-left" %>


                  <td><%= f.select(:role, [['Owner',1], ['Member', 2]], {}, {class: 'form-control'}) %></td>

                <td><%= f.submit 'Update', class: "btn btn-info"  %></td>
                <td><%= link_to project_membership_path(@project,m), method: :delete do %>
                    <span class="glyphicon glyphicon-remove"></span>
                    <% end %>
                </td>
              </tr>
              <% end %>

            <% end %>
        <% end %>

    </table>
  </div>
</div>
