

  <h1>Edit Task</h1>
  <ol class = "breadcrumb">
    <li> <%= link_to "Projects", projects_path %> / <%= link_to @project.name, project_path(@project) %> / <%= link_to "Tasks", project_tasks_path(@project) %> / <%= link_to @task.description, project_tasks_path(@project) %> / Edit </li>
  </ol>

  <%= render "form" %>
