
  <h1 class="page-header"> Tasks for <%= @name %>
     <div class= "pull-right">

         <%= link_to 'New Task', new_project_task_path(@project), class: "btn btn-info" %>

      </div>
  </h1>
  <ol class = "breadcrumb">
    <li> <%= link_to "Projects", projects_path %> / <%= link_to @project.name, project_path(@project) %> / Tasks</li>
  </ol>

  <table class= "table">


    <thead>
      <tr>
        <th>Description</th>
        <th align= "left">Due Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @project.tasks.each do |t| %>
      <tr>
        <td>
          <% if t.completed %>
            <s><%=link_to t.description, project_task_path(@project, t) %></s>
          <% else %>
            <%=link_to t.description, project_task_path(@project, t) %>
            <%= link_to t.comments.count, task_comments_path(t), class: "badge" %>
          <% end %>
        </td>
        <td>
          <% if t.due_date %>
            <%= t.due_date.strftime("%m/%d/%Y") %>
          <% end %>
        </td>
        <td>
          <div class = "pull-right">
            <%= link_to 'Edit', edit_project_task_path(@project,t), class: "btn btn-info" %>
            <%= link_to '', project_task_path(@project,t), method: :delete,class: "glyphicon glyphicon-remove"%>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
