<h1 class = "page-header">
<%=  "Users" %>
  <div class = "pull-right">
    <%= link_to "New User", new_user_path, class: "btn btn-info" %>
  </div>
</h1>




<table class = "table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <% @users.each do |u| %>

    <tr>
      <td>
        <%=link_to u.first_name+" "+u.last_name, user_path(u) %>
      </td>
      <td>
        <% if !match(u) || current_user.permission == true%>
          <%= mail_to u.email %>
        <% end %>
      </td>

      <td>
        <div class = "pull-right">
          <%  if u.id == current_user.id || current_user.permission == true %>
            <%= link_to 'Edit', edit_user_path(u) %>
          <% end %>
        </div>
      </td>
    <% end %>


  </tr>



</table>
