
<%= form_for @project, html: {class: "form-horizontal"} do |f|  %>

  <% if @project.errors.any? %>
    <div class = "form-group">
      <div class = "col-sm-offset-2 col-sm-6">
        <div class = "alert alert-danger">

            <h3><%= pluralize(@project.errors.count, "error")%>  prohibited this from being saved : </h3>
              <ul>
                <% @project.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>

        </div>
      </div>
    </div>
  <% end %>


    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= f.label :name %>
      </div>
      <div class="col-sm-4">
          <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 ">
        <%= f.submit class: "btn btn-primary" %>
        <%= link_to "Back", projects_path, class: "btn btn-default" %>
      </div>
    </div>

<% end %>
