<% if flash[:success]  %>
  <div class = "alert alert-success ">
    <%= flash[:success] %>
  </div>
<% end %>
<h1 class = "page-header">
  Projects
  <div class="pull-right">
    <%= link_to "New Project", new_project_path, class: "btn btn-info" %>
  </div>
</h1>




<table class = "table">
  <thead>
    <th>Name</th>
    <th>Tasks</th>
  </thead>


  <% if current_user.permission==false %>
    <% @user_projects.each do |user_project| %>
      <tr>
        <td> <%= link_to "#{user_project.name}", project_path(user_project) %> </td>
        <td> <%= link_to "#{user_project.tasks.count}", project_tasks_path(user_project)  %> </td>
      </tr>
    <% end %>
  <% else %>
    <%@projects.each do |project| %>
      <tr>
        <td> <%= link_to "#{project.name}", project_path(project) %> </td>
        <td> <%= link_to project.tasks.count , project_tasks_path(project)  %> </td>
      </tr>
    <% end %>
  <% end %>
</table>
<% if @tracker_projects %>
  <h1 class = "page-header">
    Pivotal Tracker Projects
  </h1>
  <table class="table">
    <thead>
      <th> Name </th>
    </thead>

    <% @tracker_projects.each do |project| %>
    <tr>
      <% id = project[:id] %>
      <% name = project[:name] %>
      <td><%= link_to name, "tracker_projects/#{id}" %></td>
    </tr>
    <% end %>
  </table>
<% end %>
