  <% if flash[:success]  %>
    <div class = "alert alert-success ">
      <%= flash[:success] %>
    </div>
  <% end %>

  <h1 class = "page-header">
    <%= @project.name %>

    <div class = "pull-right">
      <% if Membership.where("project_id= ? AND role= ?", @project.id, 1).include?(current_user.memberships.find_by(project_id: @project.id)) || current_user.permission == true%>
        <%= link_to "Edit", edit_project_path(@project), class: "btn btn-info" %>
      <% end %>
    </div>
  </h1>
  <ul class = "breadcrumb">
    <li> <%= link_to "Projects", projects_path %> / <%= @project.name  %></li>
  </ul>
    <%= link_to pluralize(@project.tasks.count, "task"), project_tasks_path(@project) %>
  <div>
    <%= link_to pluralize(@project.memberships.count, "membership"), project_memberships_path(@project) %>
  </div>
    <% if Membership.where("project_id= ? AND role= ?", @project.id, 1).include?(current_user.memberships.find_by(project_id: @project.id)) || current_user.permission == true%>
    <div class="well">
      <h3>Delete Project</h3>
      <div>
        <%= "Deleting this project will also delete #{pluralize(@project.memberships.count, "membership")}, #{pluralize(@project.tasks.count, "task")} and associated comments." %>
      </div>
      <p class="lead"></p>
      <div>
        <%= link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Are you sure ?"}, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
